{# @var clearing \Payone\Models\Api\Clearing\Bank #}

<div class="payone-payment-addditional">
    <ul>
        <li>{{ clearing.account }}</li>
        <li>{{ clearing.code }}</li>
        <li>{{ clearing.country }}</li>
        <li>{{ clearing.name }}</li>
        <li>{{ clearing.account }}</li>
        <li>{{ clearing.accountholder }}</li>
        <li>{{ clearing.city }}</li>
        <li>{{ clearing.iban }}</li>
        <li>{{ clearing.bic }}</li>
    </ul>
</div>