{# @var clearing \Payone\Models\Api\Clearing\Bank #}

<div class="payone-payment-addditional">
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearing") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.account }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingCode") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.code }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingCountry") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.country }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingName") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.name }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingAccount") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.account }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingAccountHolder") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.accountholder }}
        </span>
    </div>
    {% if clearing.city %}
        <div class="row">
            <strong class="col-xs-6 col-sm-5">
                {{ trans("Payone::Template.clearingCity") }}:
            </strong>
            <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.city }}
                    </span>
        </div>
    {% endif %}
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingIban") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.iban }}
        </span>
    </div>
    <div class="row">
        <strong class="col-xs-6 col-sm-5">
            {{ trans("Payone::Template.clearingBic") }}:
        </strong>
        <span class="col-xs-6 col-sm-7" id="payment_state_535">
            {{ clearing.bic }}
        </span>
    </div>
</div>