{# @var creditcardcheck \Payone\Models\CreditCardCheckRequestData #}
<link rel="stylesheet" href="{{ plugin_path('Payone') }}/css/payone-iframe.css">
{{ errorMessage|raw }}
<style type="text/css" media="screen, projection"> </style>

<div id="payonePaymentModal" class="method-presentation">
    <div class="method-title">
        <div class="method-option form-check-label">
            <h3>{{ paymentMethod.name }}:</h3>
            <div class="method-icon">
                <img src="{{ paymentMethod.icon }}" alt="{{ paymentMethod.name }} icon">
            </div>
            <div class="description">{{ paymentMethod.description }}</div>
        </div>
    </div>

    <script type="text/javascript" src="https://secure.pay1.de/client-api/js/v1/payone_hosted_min.js" async></script>
    <script type="text/javascript" src="{{ plugin_path('Payone') }}/js/payone-iframe.js" defer></script>

    <form id="orderPlaceForm" name="paymentform" action="place-order">
        <fieldset>
            <label for="cardpan">{{ trans('Payone::Template.ccNumber') }}:</label>
            <span id="cardpan" class="inputIframe"></span>

            <label for="cardtype">{{ trans('Payone::Template.ccType') }}:</label>
            <span id="cardtype" class="inputIframe"></span>

            <label for="cardcvc2">CVC:</label>
            <span id="cardcvc2" class="inputIframe"></span>

            <label for="expire">{{ trans('Payone::Template.ccValidTo') }}:</label>
            <span id="expireInput" class="inputIframe">
                <span id="cardexpiremonth"></span>
                <span id="cardexpireyear"></span>
            </span>

            <label for="firstname">{{ trans('Payone::Template.firstName') }}:</label>
            <input id="firstname" type="text" name="firstname" value="">

            <label for="lastname">{{ trans('Payone::Template.lastName') }}:</label>
            <input id="lastname" type="text" name="lastname" value="">

            <div id="errorOutput"></div>

            <button id="orderCancel" class="btn btn-secondary btn-block payone-cancel" data-dismiss="modal"
                    @click="clearFields"
                    aria-label="{{ trans('Payone::Template.orderCancel') }}">
                <i class="fa fa-arrow-left"></i> {{ trans('Payone::Template.orderCancel') }}
            </button>
            {% if errorMessage is empty %}
                <button id="orderPlace" class="btn btn-primary btn-block">
                    <i class="fa fa-arrow-right"
                       aria-hidden="true"></i> {{ trans('Payone::Template.orderPlace') }}
                </button>
            {% endif %}
        </fieldset>
    </form>

    <script type="text/javascript">
        var config = {
            autoCardtypeDetection: {
                supportedCardtypes: {{ ccTypes|json_encode|raw }},
                deactivate: false
            },
            fields: {
                cardtype: {
                    selector: "cardtype",
                    cardtypes: {{ ccTypes|json_encode|raw }}
                },
                cardpan: {
// put name of your div-container here
// define possible cardtypes in PAYONE iFrame
// put name of your div-container here // text (default), password, tel
                    size: "19",
                    maxlength: "19", // set max. length for CVC input; empty values possible length: { "A": 4, "V": 3, "M": 3, "J": 0 } // set required CVC length per cardtype
                    selector: "cardpan",
                    type: "text",
                    style: "font-size: 1em; border: 1px solid #000;"
                },
                cardcvc2: {
                    selector: "cardcvc2",                // put name of your div-container here
                    type: "password",                    // select(default), text, password, tel
                    style: "font-size: 1em; border: 1px solid #000;",
                    size: "4",
                    maxlength: "4"
                },
                cardexpiremonth: {
                    selector: "cardexpiremonth", type: "select",
                    size: "2",
                    maxlength: "2",
                    iframe: {
                        width: "50px"
                    }
                },
                cardexpireyear: {
                    selector: "cardexpireyear", type: "select",
                    iframe: {
                        width: "80px"
                    }
                }
            },
// if set exact length required; 0=CVC input disabled
// put name of your div-container here // select(default), text, password, tel
// put name of your div-container here // select(default), text, password, tel
            defaultStyle: {
                input: "font-size: 1em; border: 1px solid #000; width: 175px;",
                select: "font-size: 1em; border: 1px solid #000;",
                iframe: {
                    height: "33px",
                    width: "180px"
                }
            },
            error: "errorOutput",
        };
        var Templates = {};
        Templates.locale = '{{ locale }}';
        Templates.errorMessage =
            '<div id="checkoutError" class="row is-table-row error">' +
            '     <div class="col-sm-12">' +
            '        <p>' +
            '            <h4>{{ trans("Payone::Template.orderErrorTitle") }}</h4>' +
            '        </p>' +
            '        <p>' +
            '                <span class="text-muted">' +
            '                       {% if isDebugModeEnabled %}' +
            '                           {errorMessage}' +
            '                       {% else %}' +
            '                           {{ trans("Payone::Template.orderErrorMessage") }}' +
            '                       {% endif %}' +
            '                </span>' +
            '        <a href="checkout"> <button class="btn btn-primary btn-block Payone-cancel">' +
            '                <i class="fa fa-arrow-right"' +
            '                  aria-hidden="true"></i> {{ trans("Payone::Template.orderCancel") }}' +
            '        </button></a>'+
            '        </p>' +
            '    </div>' +
            '</div>';

        var request = {{ creditcardcheck|json_encode|raw }};

    </script>
</div>