{% block body %}
    {% set paymentId = 0 %}
    {% set paidStatus = '' %}

    {% set properties = order.properties %}
    {% for property in properties %}
        {% if property.typeId == 4 %}
            {% set paidStatus = property.value %}
        {% endif %}
    {% endfor %}
    {% if  (paidStatus != 'fullyPaid') and (order.status < 4 )  and orderHasPayment == 0 %}
        {% set display = "block" %}
    {% else %}
        {% set display = "none" %}
    {% endif %}
<link rel="stylesheet" href="{{ plugin_path('Payone') }}/css/payone-amazonpay.css">
{% if sandbox %}
    <script src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/sandbox/lpa/js/Widgets.js'></script>
{% else %}
    <script src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/lpa/js/Widgets.js'></script>
{% endif %}

<button id="reinitPayoneAmazon" class="btn btn-primary btn-appearance btn-block" onclick="checkAmazonPayButtonReinit()"
        data-toggle="modal" data-target="#amazonPayoneModal" style="display: {{ display }}; margin-top: 0.5rem">
    {{ trans("Payone::General.payReinit") }}
</button>
<div id="amazonPayoneModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="amazonBody" class="modal-body"></div>
            <div id="amazonFooter" class="modal-footer">
                <button id="payWithAmazon" type="button" class="btn btn-primary btn-block btn-appearance"
                        onclick="reinitAmazon()">{{ trans("Payone::General.payReinit") }}</button>
                <button type="button" class="btn btn-secondary btn-block" :class="buttonClasses" data-dismiss="modal"
                        aria-label="Close">{{ trans("Payone::General.cancel") }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.loadAmazonPayButtonReinit = function () {
        if (!window.amazonPayButtonLoaded || document.getElementById("LoginWithAmazon") === null) {
            $.get("/payment/payone/checkout/amazonPay/loginButtonReinit/{{ orderId }}", function (data) {
                $("body").append(data);
            });
            window.amazonPayButtonLoaded = true;
        }
        document.getElementById("LoginWithAmazon").style.display = "block";
    }

    window.checkAmazonPayButtonReinit = function () {
        document.getElementById("payWithAmazon").style.display = "none";

        $('#amazonBody').append('<div id=\'LoginWithAmazon\' style=\'display:none\'></div>');
        $('#amazonFooter').append('<button onclick="amazonLogoutReinit()" type=\'button\' class=\'btn btn-primary btn-block\' id=\'LogoutWithAmazon\' style=\'display:none\'>{{ trans("Payone::General.logout") }}</button>');
        $('#amazonBody').append('<div id=\'addressBookWidgetDiv\' class=\'addressBookWidgetDiv\' style=\'display:none; margin-block: 10px\'></div>');
        $('#amazonBody').append("<div id='walletWidgetDiv' class='walletWidgetDiv' style='display:none'></div>");

        if (document.getElementById("walletWidgetDiv") !== null && document.getElementById("walletWidgetDiv").style.display !== "block") {
            loadAmazonPayButtonReinit();
        } else if (document.getElementById("walletWidgetDiv") === null) {
            loadAmazonPayButtonReinit();
        }
    }

    window.amazonLogoutReinit = function () {
        amazon.Login.logout();
        document.getElementById("LoginWithAmazon").style.display = "block";
        document.getElementById("LogoutWithAmazon").style.display = "none";
        document.getElementById("addressBookWidgetDiv").style.display = "none";
        document.getElementById("walletWidgetDiv").style.display = "none";

        checkAmazonPayButtonReinit();
    };

    window.reinitAmazon = function () {
        $.get("payment/payone/reinit/{{ orderId }}", function (data) {
            $('#amazonPayoneModal .modal-content').html(data.data);
            document.getElementById("reinitPayoneAmazon").style.display = "none";
        });
    };
</script>
{% endblock %}
