<script>
    window.onAmazonLoginReady = function () {
        console.log('{{ content.clientId }}');

        amazon.Login.setClientId('{{ content.clientId }}');
    };
    window.onAmazonPaymentsReady = function () {
        console.log('Client-ID: {{ content.clientId }}');
        console.log('Seller-ID: {{ content.sellerId }}');
        console.log('WorkOrder-ID: {{ content.debug1 }}');

        var authRequest;

        OffAmazonPayments.Button('LoginWithAmazon', '{{ content.sellerId }}', {
            type: '{{ content.type }}',
            color: '{{ content.color }}',
            size: '{{ content.size }}',
            language: '{{ content.language }}',

            authorization: function () {
                loginOptions = {scope: '{{ content.scopes }}', popup: {{ content.popup }}};
                authRequest = amazon.Login.authorize(loginOptions, function(t) {
                    var $logoutButton = $('<button type="button" name="button" id="Logout">Logout</button>');

                    $("body").append($logoutButton);
                    console.log(t.access_token);
                    console.log(t.expires_in);
                    console.log(t.token_type);
                });
            },
            onError: function (error) {
                // your error handling code.
                console.log("The following error occurred: "
                    + error.getErrorCode()
                    + ' - ' + error.getErrorMessage());
            }
        });
    }

</script>
<script async="async"
        src='https://static-eu.payments-amazon.com/OffAmazonPayments/eur/sandbox/lpa/js/Widgets.js'>
</script>
